
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Posts, Categories and Tags</title>

    @Styles.Render("~/styles/jqueryui")
    @Styles.Render("~/styles/jqueryui/custom")
</head>
<body>
    <div> 
    </div>
    @Scripts.Render("~/scripts/jquery")
</body>
</html>
