@model LunarSFX.Models.ListViewModel

@{
    ViewBag.Title = "LunarSFX";
}
<div>

    @Html.Partial("_Pager", Model)
    <div>
        <div>
            @if (Model.Posts.Count > 0)
            {
                foreach (var post in Model.Posts)
                {

                    @Html.Partial("_PostTemplate", post)
                    <hr />              
                }
            }
            else
            {
                <p>No posts found!</p>
            }
        </div>
    </div>
    @Html.Partial("_Pager", Model)
</div>

